<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon E2E Suite">
    
    <listeners>
        <listener class-name="com.utils.MyListener" />
    </listeners>

    <test name="EndToEndTests">
        <classes>
            <class name="com.test.AmazonTest" />
        </classes>
    </test>
    
</suite>